@import '../variables';

.experience {
    .vertical-timeline-element-content {
      background-color: var(--card-background) !important;
      box-shadow: 0 3px 0 var(--card-background) !important;
      
      &, h3, h4, p, li, .vertical-timeline-element-date {
        color: var(--text-color) !important;
      }
    }
  
    .vertical-timeline-element-icon {
      background: var(--primary-color) !important;
      color: #fff !important;
    }
  
    .vertical-timeline-element-content-arrow {
      border-right: 7px solid var(--card-background) !important;
    }
  }