@import '../variables';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--background-color);
  backdrop-filter: blur(5px);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 2.6em;
    color: var(--primary-color);
    margin: 0;
  }

  &__nav {
    display: flex;
    gap: 15px;

    &-item {
      color: var(--text-color);
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 1.1em;
      transition: color 0.3s ease;

      svg {
        margin-right: 8px;
        font-size: 1.6em;
      }

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    gap: 10px;
  }

  &__social {
    display: flex;
    gap: 10px;
    margin-right: 5px;

    a {
      color: var(--primary-color);
      font-size: 1.6em;
      transition: color 0.3s ease;

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }

  &__download-button,
  &__theme-toggle,
  &__contrast-toggle {
    background: none;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.5em;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__language-selector {
    font-size: 1.3em;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
  }

    @media (max-width: $breakpoint-tablet) {
    
    
        &__title {
          flex-basis: 100%;
          text-align: left;
          font-size: 3.5em;
          justify-content: center;

    
        }
    
        &__controls {
          order: 1;
          justify-content: center;
          text-align: left;
          flex-basis: 100%;
          font-size: 1.2em;
          margin-right: 10px;


        }
    
  }

  @media (max-width: $breakpoint-mobile) {
    flex-wrap: wrap;


    &__title {
      flex-basis: 100%;
      text-align: left;
      font-size: 2.5em;

    }

    &__controls {
      order: 2;
      gap: 15px;
      font-size: 1.1em;
      margin-right: 50px;
    }
}

}