// src/styles/components/Introduction.scss

@import '../variables';

.introduction {
  padding: 120px 20px; // Aumentado de 80px a 120px para añadir más margen superior
  background-color: #fff;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__photo {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 20px;

    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }

  &__text {
    flex: 1;
    text-align: center;
    margin: 20px;

    .introduction__title {
      font-size: 3em;
      margin-bottom: 20px;
      color: var(--primary-color);
    }

    .introduction__description {
      font-size: 1.3em;
      line-height: 1.6;
      color: var(--text-color);
    }
  }

  &__animation {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
}
