/* src/styles/components/Languages.scss */

@import '../variables';

#idiomas {
  padding: 60px 20px;
  background-color: var(--background-color);

  h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 40px;
    color: var(--primary-color);
  }

  .language-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .language-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 15px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    img {
      width: 50px;
      height: auto;
      margin-right: 20px;
      border-radius: 5px;
    }

    .language-info {
      flex: 1;

      h4 {
        margin: 0;
        font-size: 1.2em;
        color: var(--primary-color);
      }

      p {
        margin: 5px 0;
        color: var(--text-color);
      }

      .rc-progress-line {
        margin-top: 10px;
      }
    }
  }
}
