/* Importa los estilos de los componentes y las variables */

@import 'variables';
@import './variables';
@import './components/Header.scss';
@import './components/Introduction.scss';
@import './components/PDFModal.scss';
@import 'components/Languages';
@import 'components/Projects';
@import 'components/Footer';

/* Estilos globales */

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
    transition: all 0.3s ease;
  }

  html {
    scroll-behavior: smooth;
  }





