// src/styles/variables.scss

:root {
  --primary-color: #3498db;
  --primary-color-dark: #2980b9;
  --accent-color: #e74c3c;
  --accent-color-dark: #c0392b;
  --background-color: #f5f5f5;
  --text-color: #333;
  --secondary-color: #777;
}

[data-theme='dark'] {
  --primary-color: #2980b9;
  --primary-color-dark: #1c5980;
  --accent-color: #c0392b;
  --accent-color-dark: #96281b;
  --background-color: #2c3e50;
  --text-color: #ecf0f1;
  --secondary-color: #bdc3c7;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', sans-serif;
}
